.flightTime {
  font-weight: 700;

  &--total {
    color: crimson;
  }
  &--month {
    color: goldenrod;
  }
  &--aircraft {
    color: dodgerblue;
  }
}

.aircraft {
  font-weight: 700;
}

.item {
  margin: 1em;
}